.egg {
    color: brown;
    font-size: 30px;
    font-style: oblique;
    font-family: 'Do Hyeon', sans-serif;
}

.bread {
    color: rgb(122, 3, 122);
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
}

.tomato {

}